@import '../../assets/scss/all';

header {
    width: 100%;
    height: $headerHeight;
    background: $colorMain;
    position: fixed;
    top: 0;
    z-index: 2000;
    color: $colorLink;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(#000000, 0.5);

    h1 {
        padding-top: 10px;
        font-size: 16px;
        display: inline-block;
    }
}
